* {
    color: rgb(31, 7, 71);
}

#navbarNav a{
    color:rgb(140, 43, 124);
}

header {
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 100vh;

    background-image: url('d:\pastell.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the image in place while scrolling */
    filter: brightness(0.8); /* Adjust the brightness */
}
  